[user]
	name = Anibe
	email = mail@anibeagamah.com
[push]
	default = matching
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[core]
        editor = vim
[merge]
        tool = vimdiff

[alias]
    st = status
    ci = commit
    cia = commit --amend
    co = checkout
    br = branch
    sb = show-branch
    cp = cherry-pick
    staged = diff --cached
    rb = rebase
    rbc = rebase --continue
    rbs = rebase --skip
    rl = reflog
    rs = remote show
    rt = remote
    ru = remote update
    rp = remote prune
    sm = submodule

