/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

div.w50 {
  padding-top: 20px;
  width: 50%;
  overflow: auto;
}

#send-sms label {
  float: left;
  margin-right: 10px;
  clear: left;
  width: 50px;
}

#question {
  margin-right: 40px;
} 

#send-sms textarea {
  float: left;
}


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
h4 {color: #999;}

.row-head {
  font-weight: bold;
}

.row.row-head {
  margin-bottom: 10px;
}

form[name='questionForm'] label {
  font-weight: bold;
}

table.student-answers {
  margin-top: 20px;
  width: 100%;
}

table.student-answers td.answer,
table.student-answers td.indicator {
  text-align: center;
}



table.student-answers tr.correct .indicator {
  font-weight: bold;
  color: green;
  background: no-repeat url('../images/yes_indicator.png') 19px 11px;
  text-indent: -5000px;
}

table.student-answers tr.incorrect .indicator {
  font-weight: bold;
  color: red;
  background: no-repeat url('../images/no_indicator.png') 19px 11px;
  text-indent: -5000px;
}

table.student-answers .header.answer,
table.student-answers .header.indicator {
  text-align: center;
}

/* -----------------------------------------
   Send SMS
----------------------------------------- */

.textarea-style1 {
	width: 100%;
	height: 80px;
}

.module {
	padding: 10px 0 0;
}

#footer {
  clear: both;
}
